/*-------------------------
    Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
}

/*-------------------------
    General Styles
--------------------------*/

html {
    background: url('bg.png') repeat #e4e4e4;
    /* This will hide the extra canvas if the screen is small */
    overflow: hidden;
}
body {
    font: 14px/1.3 'Segoe UI', Arial, sans-serif;
    color: #444;
}
a:hover {
    text-decoration: none;
}
section, footer, header {
    display: block;
}

/*-------------------------
    Main Area
--------------------------*/

hgroup {
    position: fixed;
    background-color: #444;
    width: 400px;
    height: 78px;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -225px;
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(10, 10, 10, 0.1), 0 3px 1px #222;
    color: #ccc;
}
.ClearButton {
    -moz-box-shadow: 0px 4px 0px 0px #222222;
    -webkit-box-shadow: 0px 4px 0px 0px #222222;
    box-shadow: 0px 3px 0px 0px #222222;
    background-color: #444444;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 5px;
    position: fixed;
    bottom: 35px;
    left: 50%;
    text-decoration: none;
    text-shadow: 0px 2px 2px #222222;
    transform: translate(-50%, 0%);
}
.ClearButton:hover {
    background-color: #333333;
}
.ClearButton:active {
    position: relative;
    top: 1px;
}
.hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        opacity: 0;
        overflow: hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
h1 {
    font-size: 22px;
    padding-bottom: 8px;
}
h2 {
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 8px;
}
h3 {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #999;
}
#cursors {
    position: relative;
}
#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
}

/*----------------------------
    The Footer
-----------------------------*/

footer {
    background-color: #111111;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    height: 45px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}
footer h2 {
    color: #EEEEEE;
    font-size: 14px;
    font-weight: normal;
    left: 50%;
    margin-left: -400px;
    padding: 13px 0 0;
    position: absolute;
    width: 540px;
}
footer h2 i {
    font-style: normal;
    color: #888;
}
footer a.tzine, a.tzine:visited {
    color: #999999;
    font-size: 12px;
    left: 50%;
    margin: 16px 0 0 110px;
    position: absolute;
    text-decoration: none;
    top: 0;
}
footer a i {
    color: #ccc;
    font-style: normal;
}
footer a i b {
    color: #c92020;
    font-weight: normal;
}
